img {
  height: auto;
}
.mx-32 {
  padding-left: 16px;
  padding-right: 16px;
}
.main-header .main-header__search__input-box::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  left: 160px;
  content: "";
  background-color: var(--commerce-border-color);
  height: 22px;
  width: 1px;
}

.post-pagination .previous,
.post-pagination .next {
  color: #131921;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.09px;
  border-radius: 50px;
  border: 1px solid #e2e8f0;
  padding: 15px 45px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.4s ease-in-out;
  max-width: 162px;
}

.apply-btn {
  display: flex;
  height: 46px;
  padding: 12px 24px 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  background: var(--Secondary-Colors-01, #232e3f);
  color: var(--Neutral-Colors-04, #fff);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.07px;
}

/* success page */

.success-page {
  margin-top: 120px;
  margin-bottom: 120px;
}
.success-inner {
  border-radius: 16px;
  background: var(--secondary-colors-03-for-bg, #f7f8fa);
  text-align: center;
  padding: 150px 0;
}
.success-inner h2 {
  color: var(--Neutral-Colors-01, #131921);
  text-align: center;

  font-family: "Instrument Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.18px;
}
.success-inner p {
  color: var(--Neutral-Colors-02, #585d64);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.09px;
  margin: 12px 0 32px;
}
.success-inner .commerce-btn {
  border-radius: 1000px;
  color: #fff;
  text-transform: none;
}

/* Terms */

.terms-page {
  position: relative;
  z-index: 1;
  padding: 60px 0 120px;
}

.terms-page::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #f7f8fa;
  height: 378px;
  z-index: -1;
}
.terms-page .commerce-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 28px;
}
.terms-page .commerce-breadcrumb li {
  position: relative;
  z-index: 1;
}
.terms-page .commerce-breadcrumb li span,
.terms-page .commerce-breadcrumb li a {
  color: var(--commerce-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.08px;
  margin: 0;
}
.terms-page .commerce-breadcrumb li::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  content: "\e90a";
  font-family: "icomoon" !important;
  font-weight: 900;
  font-size: 14px;
  transform: rotateY(-180deg);
  color: var(--commerce-text);
}
.terms-page .commerce-breadcrumb li:first-child::after {
  display: none;
}
.terms-page .commerce-breadcrumb li:last-child a,
.terms-page .commerce-breadcrumb li:last-child span {
  color: var(--commerce-text-dark);
}
.terms-page .commerce-breadcrumb li:last-child::after {
  color: var(--commerce-text-dark);
}

h2.terms-section-title {
  color: var(--Neutral-Colors-01, #131921);
  font-family: "Instrument Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.24px;
}

.terms-page__top {
  margin-bottom: 60px;
}

.terms-inner {
  border-radius: 16px 16px 0px 0px;
  background: #fff;
  padding: 24px;
}

.terms-tabs-wrap {
  border-radius: 16px;
  border: 1px solid #eff0ff;
  background: var(--Neutral-Colors-N4, #fff);
  box-shadow: 6px 6px 60px 0px rgba(0, 0, 0, 0.04);
  padding: 16px;
}
.terms-tabs-wrap .nav-item {
  border-radius: 6px;
  border: 1px solid #eff0ff;
  background: var(--Color-Plate-06, #fff);
}
.terms-tabs-wrap .nav-item:not(:last-child) {
  margin-bottom: 12px;
}
.terms-tabs-wrap .nav-item a {
  color: var(--Neutral-Colors-01, #131921);
  text-align: left;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.08px;
}
.terms-tabs-wrap .nav-item a.active {
  border-radius: 6px;
  border-radius: 6px;
  background: var(--Primary-Colors-02, #4273f1);
}

.login-page .login-page__checked-box {
  margin-bottom: 35px;
  flex-direction: column;
  align-items: flex-start;
}
.login-page .login-page__checked-inner {
  margin-bottom: 5px;
}
.history-product__carousel .slick-slide {
  padding: 0 16px;
  margin: 0;
}
.top-brand__carousel .slick-slide .item {
  padding: 0 15px;
  margin: 0;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.product-slider__carousel {
  margin-bottom: 30px;
}

.dashboard-area__tabel table tbody td {
  max-width: 190px;
  min-width: 80px;
}

.dashboard-dverview__salse-ul {
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}
.dashboard-dverview__salse-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.dashboard-dverview__salse-li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e8f0;
}
.dashboard-dverview__salse-li-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.dashboard-dverview__salse-li-title {
  font-size: 18px;
}

button.profileImageButton img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

button.profileImageButton {
  background: none;
  outline: none;
  border: none;
  position: relative;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  margin-top: 8px;
  width: 160px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 0;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 14px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--commerce-base);
  color: #fff;
}

.logout-btn {
  border-top: 1px solid #eee;
  margin-top: 4px;
}
/* Spinner */
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.7s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stdropdown-container {
  height: 100%;
  min-height: 64px;
  border-radius: 10px;
  border: 1px solid #dedef5;
}
.stsearch-box {
  height: 100%;
}
.stsearch-box input {
  border: none;
  outline: none;
}
.user-profile__info__menu a + a li {
  margin-top: 16px;
}

.form-error {
  color: rgb(255, 58, 58) !important;
  font-size: 12px;
  margin-top: 8px !important;
  margin-bottom: 0 !important;
}

.brand-register {
  padding: 100px 0;
  background-color: #f7f8fa;
}
.brand-register__title {
  color: #131921;
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.18px;
  margin-bottom: 30px;
}
.brand-register__item {
  border-radius: 10px;
  border: 1px solid #e8effc;
  background: var(--commerce-white);
  padding: 20px;
}
.brand-register__item__title {
  color: #131921;
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.14px;
  margin-bottom: 20px;
}
.brand-register .form-one .form-one__group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .brand-register .form-one .form-one__group {
    grid-template-columns: repeat(2, 1fr);
  }
}
.brand-register .form-one .form-one__control label {
  color: #131921;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.08px;
  margin-bottom: 5px;
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  > .dropdown-toggle::placeholder,
.brand-register .form-one .form-one__control input::placeholder,
.brand-register .form-one .form-one__control textarea::placeholder {
  color: #818b9c;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.08px;
}
.brand-register .form-one .form-one__control textarea {
  height: 477px;
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
    .input-group-btn
  ) {
  position: relative;
  display: block;
  width: 100% !important;
  font-family: var(--commerce-font, "Sora", serif);
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  > .dropdown-toggle::after {
  display: none;
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  .dropdown-menu
  > li
  + li
  > a {
  border-top: 1px solid var(--commerce-border-color);
}
.brand-register .form-one .form-one__control .bootstrap-select .dropdown-menu {
  border: none;
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  .dropdown-menu
  > li
  > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.08px;
  padding: 6px 12px;
  background-color: var(--commerce-white);
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  .dropdown-menu
  > li:hover
  > a,
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  .dropdown-menu
  > li.selected
  > a {
  background: var(--commerce-base);
  color: var(--commerce-white);
  border-color: var(--commerce-base);
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  > .dropdown-toggle {
  display: flex;
  align-items: center;
}
.brand-register
  .form-one
  .form-one__control
  .bootstrap-select
  > .dropdown-toggle
  .filter-option {
  display: flex;
  align-items: center;
}
.brand-register .form-one .commerce-btn {
  color: var(--commerce-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.09px;
  text-transform: capitalize;
  padding: 16px 33px;
}
.brand-register .form-one .commerce-btn i {
  margin-left: 4px;
}
