img {
  height: auto;
}
.mx-32 {
  padding-left: 16px;
  padding-right: 16px;
}
.main-header .main-header__search__input-box::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  left: 160px;
  content: "";
  background-color: var(--commerce-border-color);
  height: 22px;
  width: 1px;
}

.post-pagination .previous,
.post-pagination .next {
  color: #131921;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.09px;
  border-radius: 50px;
  border: 1px solid #e2e8f0;
  padding: 15px 45px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.4s ease-in-out;
  max-width: 162px;
}

.apply-btn {
  display: flex;
  height: 46px;
  padding: 12px 24px 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  background: var(--Secondary-Colors-01, #232e3f);
  color: var(--Neutral-Colors-04, #fff);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.07px;
}

/* success page */

.success-page {
  margin-top: 120px;
  margin-bottom: 120px;
}
.success-inner {
  border-radius: 16px;
  background: var(--secondary-colors-03-for-bg, #f7f8fa);
  text-align: center;
  padding: 150px 0;
}
.success-inner h2 {
  color: var(--Neutral-Colors-01, #131921);
  text-align: center;

  font-family: "Instrument Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.18px;
}
.success-inner p {
  color: var(--Neutral-Colors-02, #585d64);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.09px;
  margin: 12px 0 32px;
}
.success-inner .commerce-btn {
  border-radius: 1000px;
  color: #fff;
  text-transform: none;
}

/* Terms */

.terms-page {
  position: relative;
  z-index: 1;
  padding: 60px 0 120px;
}

.terms-page::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #f7f8fa;
  height: 378px;
  z-index: -1;
}
.terms-page .commerce-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 28px;
}
.terms-page .commerce-breadcrumb li {
  position: relative;
  z-index: 1;
}
.terms-page .commerce-breadcrumb li span,
.terms-page .commerce-breadcrumb li a {
  color: var(--commerce-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.08px;
  margin: 0;
}
.terms-page .commerce-breadcrumb li::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  content: "\e90a";
  font-family: "icomoon" !important;
  font-weight: 900;
  font-size: 14px;
  transform: rotateY(-180deg);
  color: var(--commerce-text);
}
.terms-page .commerce-breadcrumb li:first-child::after {
  display: none;
}
.terms-page .commerce-breadcrumb li:last-child a,
.terms-page .commerce-breadcrumb li:last-child span {
  color: var(--commerce-text-dark);
}
.terms-page .commerce-breadcrumb li:last-child::after {
  color: var(--commerce-text-dark);
}

h2.terms-section-title {
  color: var(--Neutral-Colors-01, #131921);
  font-family: "Instrument Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.24px;
}

.terms-page__top {
  margin-bottom: 60px;
}

.terms-inner {
  border-radius: 16px 16px 0px 0px;
  background: #fff;
  padding: 24px;
}

.terms-tabs-wrap {
  border-radius: 16px;
  border: 1px solid #eff0ff;
  background: var(--Neutral-Colors-N4, #fff);
  box-shadow: 6px 6px 60px 0px rgba(0, 0, 0, 0.04);
  padding: 16px;
}
.terms-tabs-wrap .nav-item {
  border-radius: 6px;
  border: 1px solid #eff0ff;
  background: var(--Color-Plate-06, #fff);
}
.terms-tabs-wrap .nav-item:not(:last-child) {
  margin-bottom: 12px;
}
.terms-tabs-wrap .nav-item a {
  color: var(--Neutral-Colors-01, #131921);
  text-align: left;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.08px;
}
.terms-tabs-wrap .nav-item a.active {
  border-radius: 6px;
  border-radius: 6px;
  background: var(--Primary-Colors-02, #4273f1);
}

.login-page .login-page__checked-box {
  margin-bottom: 35px;
  flex-direction: column;
  align-items: flex-start;
}
.login-page .login-page__checked-inner {
  margin-bottom: 5px;
}
.history-product__carousel .slick-slide {
  padding: 0 16px;
  margin: 0;
}
.top-brand__carousel .slick-slide .item {
  padding: 0 15px;
  margin: 0;
}

.product-details__image {
    background: #F7F8FA;
    border-radius: 10px;
}

ul.populer-feature__list.list-unstyled li i {
    color: #4273F1;
    font-size: 18px;
    margin-right: 10px;
}
.product-details__quantity__box .add {
    position: absolute;
    bottom: 1px;
    right: 10px;
    transform: rotate(0deg);
}


.product-details .product-details__thumb__item {
    border-radius: 10px;
    border:1px solid #f7f8fa;
    padding: 10px;
    overflow: hidden;
    background-color: transparent;
}
.form-one .bootstrap-select > .dropdown-toggle, .form-one input[type="text"], .form-one input[type="tel"], .form-one input[type="email"], .form-one input[type="number"], .form-one input[type="date"], .form-one textarea {
    display: block;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    height: 58px;
    border-radius: 8px;
    border: 1.5px solid #e8effc;
    background: var(--commerce-white);
    color: var(--commerce-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.08px;
}

/* ======= Preloader style ======= */
.preloader-bg,
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  z-index: 999999;
}
#preloader {
  display: table;
  table-layout: fixed;
}
#preloader-status {
  display: table-cell;
  vertical-align: middle;
}
.preloader-position {
  position: relative;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.loader {
  position: relative;
  width: 55px;
  height: 55px;
  left: 50%;
  top: auto;
  margin-left: -22px;
  margin-top: 1px;
  -webkit-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  -ms-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.loader span {
  position: absolute;
  width: 55px;
  height: 55px;
  top: -1px;
  left: -1px;
  border: 1px solid transparent;
  border-top: 1px solid #0b7956;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ======= End Preloader style ======= */
:where(.css-dev-only-do-not-override-ac2jek).ant-space-gap-col-small {
  column-gap: 15px !important;
}

.product__item__img__item {
   background: none !important;
 
}
.stdropdown-container{
  height: 100%;
  min-height: 64px;
    border-radius: 10px;
    border: 1px solid #dedef5;
}
.stsearch-box{
  height: 100%;
}
.stsearch-box input {
   border: none;
   outline: none;
}.post-pagination-list button {
  display: inline-block;
  background-color: var(--commerce-white);
  color: var(--commerce-text);
  text-transform: capitalize;
  text-align: center;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 400ms ease;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.1px;
}
.post-pagination-list button.active,
.post-pagination-list button:hover {
  color: var(--commerce-white);
  background-color: var(--commerce-text-dark);
}
 .profile-dropdown {
  position: absolute;
  right: 0;
  margin-top: 8px;
  width: 160px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  padding: 0;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 14px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--commerce-base);
  color: #fff;
}button.profileImageButton {
    background: none;
    outline: none;
    border: none;
    position: relative;
}button.profileImageButton img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}.main-header--one .commerce-btn {
    color: var(--commerce-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: -.08px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}
.main-header--one .commerce-btn:hover{
  color: var(--commerce-base);
}